@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      height: 100vh;
    }

    .container {
      display: flex;
      width: 100%;
    }

    /* Lado esquerdo - Login */
    .login-section {
      flex: 1;
      background-color: #000;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }

    .login-section h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-size: 35px;
      margin-bottom: 10px;
    }

    .login-section p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 15px;
      text-align: center;
    }

    .login-section button {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-size: 20px;
      background: transparent;
      color: #ffffff;
      border: 2px #ffffff solid;
      padding: 14px 50px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 25px;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .login-section a {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 11px;
      color: #fff;
      text-decoration: none;
    }

    /* Lado direito - Cadastro */
    .register-section {
      display: flex;
      flex: 1;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }

    .register-section h1 {
      margin-bottom: 10px;
      color: #000;
    }

    .register-section p {
      margin-bottom: 20px;
      color: #333;
    }

    .register-section input {
      width: 80%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .register-section button {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-size: 20px;
      display: flex;
      width: auto;
      padding: 11px 30px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 100px;
      font-size: 16px;
      cursor: pointer;
      margin-left: 160px;
    }

    .register-section button:hover {
      background-color: #333;
    }

    .register-section form {
        padding-left: 90px;
    }

    .acesso-login input {
      width: 80%;
      padding: 10px;
      margin: 10px 10px 10px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-left: 30px;
    }

    .login-section button:hover {
      background-color: #333;
    }

